@media(max-width:760px){

    .back h1{
        font-size: 60px;
        font-weight: 500;
        
    }
    .back{
        padding-right: 0px !important;
    }
}
.back h1{
    text-shadow: 2px 2px 4px #000000;
}